@page
@model WebApp.Pages.BikeStationsModel
@{
    ViewData["Title"] = "Bike Stations";
}

<h2>List of bike stations</h2>

@if(Model.ErrorMessage != null)
{
    <p>@Model.ErrorMessage</p>
}
else
{
    //TODO: fetch data on client side
    <component type="typeof(Components.BikeStationsTable)" render-mode="Static" param-BikeStations="@Model.BikeStations" />
}
