@page
@model WebApp.Pages.BikeTripsModel
@{
    ViewData["Title"] = "Bike Trips";
}

<h2>List of trips</h2>

@if (Model.ErrorMessage != null)
{
    <p>@Model.ErrorMessage</p>
}
else
{
    //TODO: fetch data on client side
    <component type="typeof(Components.BikeTripsTable)" render-mode="Static" param-Dataset="@Model.BikeTrips"/>
}
