@page
@model WebApp.Pages.BikeStationsModel
@{
    ViewData["Title"] = "Bike Stations";
}

<div class="m-4">
    <h2 class="mb-4">List of bike stations</h2>

    @if(Model.ErrorMessage != null)
    {
        <p>@Model.ErrorMessage</p>
    }
    else
    {
        <component type="typeof(Components.PageButtons)" render-mode="Static" param-CurrentPage="@Model.CurrentPage" param-LastPage="@Model.LastPage"/>

        //TODO: fetch data on client side
        <component type="typeof(Components.BikeStationsTable)" render-mode="Static" param-BikeStations="@Model.BikeStations" />
    }
</div>