@page
@model WebApp.Pages.BikeTripsModel
@{
    ViewData["Title"] = "Bike Trips";
}

<div class="m-4">
    <h2 class="mb-4">List of trips</h2>

    @if (Model.ErrorMessage != null)
    {
        <p>@Model.ErrorMessage</p>
    }
    else
    {
        <component type="typeof(Components.PageButtons)" render-mode="Static" param-CurrentPage="@Model.CurrentPage" param-LastPage="@Model.LastPage"/>

        <!--//TODO: fetch data on client side -->
        <component type="typeof(Components.BikeTripsTable)" render-mode="Static" param-Dataset="@Model.BikeTrips"/>
    }
</div>