@page
@using WebApp.Models;
@model WebApp.Pages.ImportDataModel
@{
    ViewData["Title"] = "Import Data";
}

<div class="m-4">
    <h2 class="mb-3">Import stations</h2>
    <form enctype="multipart/form-data" asp-page-handler="stations" method="post">
        <input type="file" name="file" class="form-control mb-3">
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

<div class="m-4">
    <h2 class="mb-3">Import trips</h2>
    <form enctype="multipart/form-data" asp-page-handler="trips" method="post">
        <input type="file" name="file" class="form-control mb-3">
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

<p class"m-4">@Model.Message</p>